#header
  = image_tag 'logo.gif'
  %span @studyegg

.einstruction

  / .problem
  .slide.inverted
    %h1 
      Personalizing at-home learning
      %span Personalized lessons. Inverted classroom.
    / .meta
    .left= image_tag 'inverted.jpg'
    .right= image_tag 'brain2.jpg'
    .clr

  .slide.students
    %h1 
      Students lose
      %span Much of the class is either bored or discouraged. ESL classrooms. The goal is differentiation.
    .continuum
      = image_tag 'student.jpg'
      = image_tag 'student2.jpg'
      .arrow
        %span Discouraged
        = image_tag 'arrow.gif'
        %span Bored
      .clr
    .clr

  / .beginning
  .slide.distribution
    %h1 
      Distribution
      %span Existing LMS Integration.
    = image_tag 'edmodo.png'
    = image_tag 'schoology.jpg'
    .clr
    
  .slide.demo
    %h1 
      Demo
    = image_tag 'demo.png'
    = image_tag 'demo2.png'
    = image_tag 'demo3.png'
    = image_tag 'demo4.png'
    .clr

  .slide.products
    %h1 
      Other Products
      %span Social learning.
      %span.bad Push-based learning.
    = image_tag 'learntable.png'
    = image_tag 'students.jpg'
    .clr