#header
  = image_tag 'logo.gif'
  %span @studyegg

.geeks

  / .problem
  .slide.brains
    %h1 
      Our brains are so different
      %span Who is good at ____? 10 grade variation in ability. StudyEgg is:
    / .meta
    .left= image_tag 'brain.jpg'
    .right= image_tag 'brain2.jpg'

    .quicknotes
      %p Who is good at ______?
      %p Bell curves
      %p We're different
    .notes
      %p.q Q. What are the strengths of my brain?
      %p.q Q. What are the weaknessess of mine?
      %p.q Q. Why are they so different?
      %p 
        A. Different brains to begin with.
        Differences beging accumulating at a young age.
        They become more pronounced with age.
      %p.q Q. What does this have to do with StudyEgg?
      %p 
        A. We build adaptive learning content.
        Follow up on the information that's learned in school
      %p.q Q. Can I make mine better?
      %p 
        A. We opimize improvement
        We teach by asking questions?
        These questions build in difficulty as your skills improve.
      %p.q Q. How can we build better brains for everybody?
      %p 
        A. We're enter a new age in education.
        As more and more instruction is facilitated by technology, we can continue to optimize learning for each student. We can step away from the paradigm of teaching for the 50th percentile.
    .clr

  .slide.students
    %h1 
      Students lose
      %span Much of the class is either bored or discouraged. ESL classrooms. The goal is differentiation.
    .continuum
      = image_tag 'student.jpg'
      = image_tag 'student2.jpg'
      .arrow
        %span Discouraged
        = image_tag 'arrow.gif'
        %span Bored
      .clr
    .quicknotes
      %p Why students lose
      %p My class in Korea
      %p The old way
    .notes
      %p.q Q. Why do students lose?
      %p 
        A. My classroom in Korea: Varying ability levels.
        Teach to the more vocal students.
        Teach to the the middle of the road.
      %p.q Q. Did I lose?
      %p 
        A. Who hear has done a worksheet?
        Can you think of a more backward and dated way of practicing a skill?
        Some questions easy. 
        Some questions hard. Every student needs reinforcement in one area and can skip another.
      %p.q Q. How do they lose?
      %p 
        A. Think of how many missed opportunities that means?
        Everytime you've done something that is too easy or too hard you missed a chance to learn, to strengthen your brain. 
        Even worse, you turned education into something boring or discouraging.
      %p.q Q. Aren't there some benefits to our brain differences?
      %p 
        A. We're not going to make everybody's brain the same.
        That's totally impossible.
        We want students to have the wide base of knowledge that curriculum designers shoot for.
        We want students to develop all the core cognitive skills to take them forward in life.
      %p.q Q. What is the solution?
      %p 
        A. Differentiated instruction in a classroom is extremely hard.
        Differentiated instruction on a computer is doable.
        Stay within the curriculum.
      %p.q Q. What can I do for my kid?
      %p 
        A. Make use of adaptive tools
      %p.q Q. Did I lose or win do to these differences?
      %p 
        A. For the most part we lost. 
        Some kids are extraordinarily resilient in the face of mediocre performance. 
        Their reaction to do more exercises, but this is not the norm, particularly among younger folks.
    .clr

  .slide.faroff
    %h1 
      How far off are we?
      %span I'm a geek. Answer in geek: computational intractable
    = image_tag 'beta.jpg'
    .equation
      .line1.line 134 skills
      .line2.line 
        %span.under
          %span.x x 
          %span.num 27
        students
      .line3.line 3,618 student-skills
    .quicknotes
      %p Why is this problem soooo difficult
      %p True to my geeky form
    .notes
      %p Q. How big is this problem?
      %p 
        A. Massive
        134 skills * 27 students = 3,618 student-skills
      %p Q. What is the nature of this problem?
      %p 
        A. This is an information tracking problem.
        I could simply not keep track of each students ability level.
        It is a feedback problem.
        It is a time problem.
        Specializing a lesson plan takes a long time.
      %p Q. Where did you get them?
      %p 
        A. Here were my standards and benchmarks for my English class
      %p Q. How do we optimize for learning?
      %p 
        A. We offload tracking.
        Offload customization.
        Teachers have plenty plenty plenty to do without tracking and customizing on a highly granular level student abilities and exercises.
    .clr

  / .beginning
  .slide.unfair
    %h1 
      My experience
      %span ESL Classroom. Vocal/excited students.
    = image_tag 'students.gif'
    = image_tag 'sumo.jpg'
    = image_tag 'hurdles.jpg'
    = image_tag 'students2.jpg'
    .quicknotes
      %p Frustrated Teacher
      %p Builder
    .notes
      %p Q. Who are you?
      %p 
        A. I was a teacher.
        Before that I was tutor.
        Went back to school to study why what I was doing was so hard.
        Why wan't it working.
        Why did tutoring work so much better.
      %p Q. Why did you go to an international school?
      %p 
        A. Went to an private school and international school career fair when I was a senior in college
      %p Q. Why Korea?
      %p 
        A. They had a great teaching fellowship program for recent graduates such as myself.
      %p Q. What did this problem look like from the frontlines?
      %p 
        A. Describe my classroom (did I already do this?)
      %p Q. Were you able to combat it using traditional methods?
      %p 
        A. The buzzword is classroom differentiation.
      %p Q. Is there an in class solution?
      %p 
        A. It is soooo hard.
      %p Q. Did you use drills?
      %p 
        A. Yes. All the material we were provided was drill based.
        It had many advantages; drills work.
        But, when they are not the right difficulty level or too long, they spoil the learning process.
      %p Q. Can one teacher effectively differentiate a curriculum?
      %p 
        A. Great teachers can works wonders
        But if you think back to that equation with the 3000+ student skills, this is a very difficult problem.
    .clr

  .slide.school
    %h1 
      Back to school
      %span
        Hit the books. Find partners for an edTech project. Get started.
    / = image_tag 'deis.jpg'
    .team= image_tag 'team.jpg'
    .clr
    = image_tag 'eggs.jpg'
    = image_tag 'vibrams.jpg'
    .quicknotes
      %p Cognitive Science
      %p Computer Science
      %p Partners
    .notes
      %p Q. Why did you go back to school?
      %p 
        A. 
      %p Q. Was it worth it?
      %p 
        A. 
      %p Q. What did you study?
      %p 
        A. 
      %p Q. Did it qualify you to do what you're doing now?
      %p 
        A. 
      %p Q. Where did you go to school?
      %p 
        A. 
      %p Q. Why was this a good thing?
      %p 
        A. 
      %p Q. Why do I care?
      %p 
        A. 
      %p Q. Why are you a good team?
      %p 
        A. 
      %p Q. Are you a complete team?
      %p 
        A. 
      %p Q. Who does what?
      %p 
        A. 
      %p Q. Do you work well together?
      %p 
        A. 
      %p Q. Who are the others?
      %p 
        A. 
    .clr

  .slide.early
    %h1 
      The (early) early days
      %span 
        Our first office.
        Our work hours (5pm - 3am). Many pitches.
    = image_tag 'attic.jpg'
    = image_tag 'asleep.gif'
    .quicknotes
      %p Attic office
      %p Long hours
      %p Partners
    .notes
      %p Q. What was the first thing you did?
      %p 
        A. 
      %p Q. How did you get started?
      %p 
        A. 
      %p Q. Were you successful early on?
      %p 
        A. 
      %p Q. What early mistakes did you make?
      %p 
        A. 
      %p Q. Did you learn from them?
      %p 
        A. 
      %p Q. How can I avoid those mistakes?
      %p 
        A. 
    .clr

  / .middle
  .slide.betaspring
    %h1 
      Betaspring
      %span Lessons: Talk to everyone, "always sell", customer development
    = image_tag 'demoday3.jpg'
    = image_tag 'coolio.jpg'
    = image_tag 'demoday2.jpg'
    = image_tag 'demoday.jpg'
    .quicknotes
      %p Value of a netowrk
      %p Importance of customer development
    .notes
      %p Q. What was this experience like?
      %p 
        A. 
      %p Q. How is it relavant to this presentation?
      %p 
        A. 
      %p Q. Can I do that?
      %p 
        A. 
      %p Q. Where did it get you?
      %p 
        A. 
      %p Q. What milestones did you cross as part of this experience?
      %p 
        A. 
      %p Q. Was it everything we're hearing it was?
      %p 
        A. 
    .clr

  .slide.fall
    %h1 
      Fall
      %span Lessons: Talk to everyone, partner when solving hard problems
      %span.bad Lessons Not Yet Learned: The optimal number of platforms, Talk to one customer per day
    = image_tag 'network.jpg'
    = image_tag 'question.jpg'
    .quicknotes
      %p Beta trials of the new product
      %p Challenge of developing for a students but needing buy-in of professors
      %p Leaner
    .clr

  .slide.demo
    %h1 
      Demo
    = image_tag 'demo.png'
    = image_tag 'demo2.png'
    = image_tag 'demo3.png'
    = image_tag 'demo4.png'
    .quicknotes
      %p 
      %p 
      %p 
    .clr

  .slide.next
    %h1 
      Next
      %span Customer experience: Talk to everyone, partner when solving hard problems
      %span.bad Integrate with > 2 channel partners
    = image_tag 'teachers.jpg'
    = image_tag 'students.jpg'
    .quicknotes
      %p 
      %p 
      %p 
    .clr